<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BOARD</title>
        <link rel="icon" type="image/x-icon" href="/submain/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/submain/css/styles.css" rel="stylesheet" />
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body style="background-color: rgba(255, 255, 255, 0.3);">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">아아M</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/music/selling">Selling</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/board/page">Board</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/board/contact">Donation</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cartlist/cart">Cart</a></li>
                        <%
                        if(userInfo) {
                        %> 
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a></li>  
                        <div class='session'><%= userInfo %>님 환영합니다!</div>                                           
                        <% } else{ %> 
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/signUp">Sign up</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-2 py-lg-4" href="/login">Login</a></li>
                        <% } %>
                        </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/submain/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 style="font-weight: 390; ;">Board  &nbsp;&nbsp;</h1>
                            <span class="subheading" style="font-size: 18px; font-style: italic; letter-spacing: 3em;">
                                Feel free to share your opinion</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
    <div style="text-align: center; ">
    <div style="display: inline-block; width:64%;">
        <p style="padding: 18px;"><h1 class='headline'><%= title %></h1>
        <br>
        <div>
            <!-- <table border="1"> -->
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th style="text-align: center;">No.</th>
                    <th style="text-align: center;">작성자</th>
                    <th style="text-align: center; width: 30%;">제목</th>
                    <th style="text-align: center; width: auto;">수정일</th>
                    <th style="text-align: center; width: auto;">등록일</th>
                  </tr>
                </thead>
            <%
            for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
            if(i > length){
                i++;
            }else{
                var data = rows[i]
            %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data.name %></td>
                <td><a class="t" style="text-decoration: none; color: black" href="/board/read/<%= data.idx %>"><%= data.title %></a></td>
                <td><%= data.modidate %></td>
                <td><%= data.regdate %></td>  
            </form>
            </tr>
            <% }
            }
            %>
            <tr>
                <td colspan="6" class='headline' >
                    <%
                    for(var j = 0; j < rows.length / page_num; j++){
                    %>
                    <!-- row.length = 글총갯수  page_num= 페이지당 최대 글수 -->
                   
                    [<a href="/board/page/<%= j + 1 %>" style="text-decoration: none; color: black"><%= j + 1 %></a>]
                    <%
                    }
                    %>
                </td>
            </tr>
            </table>
        
        <div class="write" style="text-align: right;">
            <%
            if(userInfo) {
            %> 
        <button type="button" class="btn btn-outline-success" onclick="location.href='/board/write'">글쓰기</button>
        <% }  %> 
     </div>
    </div>
    </div>
    </div>
    <br>
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul> -->
                        
                        <div class="small text-center text-muted fst-italic">Copyright &copy; 2021 - 아아M</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/submain/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
